.container {
  z-index: 2;
  position: absolute;
  top: var(--space);
  right: var(--space);
  opacity: 0.25;
  color: white;
  border: 1px solid transparent;
  background-color: black;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  font-family: 'Iosevka', monospace;
  user-select: none;
}

.container:hover,
.container:focus-within {
  opacity: 1;
  cursor: pointer;
  border-color: lightgrey;
}

.header {
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: 0.5rem;
  align-items: center;
}

.header svg {
  width: 1.5rem;
}

.header span {
  display: inline-block;
  padding: 0 0.5rem;
}

.experiments {
  width: 100%;
  padding: 0.2rem;
  font-family: inherit;
  cursor: pointer;
}

.controls {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  pointer-events: none;
}

.container:hover .controls,
.container:focus-within .controls {
  opacity: 1;
  max-height: 100%;
  pointer-events: all;
}

.control {
  display: grid;
  grid-template-columns: 1fr max-content;
  gap: 1rem;
  align-items: center;
  padding-bottom: 0.5rem;
}

.control:first-child {
  margin-top: 1rem;
}

.control:last-child {
  padding-bottom: 0;
}

.label {
  display: inline-block;
  font-weight: bold;
  cursor: pointer;
}
