.container {
  display: grid;
  grid-template-columns: 1fr min-content;
  gap: 1rem;
  width: 100%;
}

.value {
  font-size: 1rem;
  font-variant-numeric: tabular-nums;
  font-family: 'JetBrains Mono', monospace;
}

.slider {
  -webkit-tap-highlight-color: transparent;
  width: 100%;
}
